/* CSS reset */
*, *::before, *::after           { box-sizing: border-box; }
*                                { margin: 0; }
html                             { height: 100%; }
body                             { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select  { font: inherit; }
p, h1, h2, h3, h4, h5, h6        { overflow-wrap: break-word; }

/* Variables */
* {
    --textcolor: #121212;
    --bgcolor: #fff;
    --gray-bg: #f5f5f5;
    --green-bg: #ccffd8;
    --green-bg-em: #abf2bc;
    --red-bg: #ffebe9;
    --red-bg-em: #fe8282;
    --blue-bg: lightsteelblue;
    --workspace-width: 1200px;
}

/* Global styles */
a              { color: blue; text-decoration: none;}
a:hover        { text-decoration: underline; }
a:visited      { color: blue }

body   { display: grid; grid-template-rows: auto 1fr auto; height: 100vh;
         font-family: system-ui, sans-serif; color: var(--textcolor)}
header { background: khaki; }
main   { padding: 1rem 0; }
footer { background: #f5f5f5; padding: 1rem 0; font-family: monospace; }

table    { width: 100% }
thead th { text-align: left; }
table td { vertical-align: top; min-width: 250px; }

label    { font-weight: bold; }

details summary     { cursor: pointer;  background: lightsteelblue; padding: .5rem 1rem;}
details summary > * { display: inline; }
details div.border  { border: 2px solid lightsteelblue; }

nav           { padding-top: 1rem; display: flex; flex-wrap: wrap; }
nav ul        { list-style-type: none; padding: 0; }
nav li        { display: inline-flex; flex-direction: column; justify-content: space-between; margin-right: 1rem; }
nav li.active { border-bottom: 4px solid var(--textcolor); font-weight: bold}
nav li::after { content: attr(data-title); height: 0; visibility: hidden; overflow: hidden; user-select: none;
                pointer-events: none; font-weight: bold; }

.clickable    { cursor: pointer }

.row     { display: flex; flex-wrap: wrap; width: 100%; }
.column  { display: flex; flex-direction: column; flex: 1; }

.pad      { padding: 1rem; }
.pad-left { padding-left: 1rem; }

.content-bottom { align-self: flex-end;}

.container       { max-width: var(--workspace-width); margin: auto; }
.logo            { display: inline-block; padding: 0.2rem 0.4rem; font-family: monospace; font-weight: bold }
.rotating-border {
    background-image: linear-gradient(90deg, var(--textcolor) 50%, transparent 50%), linear-gradient(90deg, var(--textcolor) 50%, transparent 50%), linear-gradient(0deg, var(--textcolor) 50%, transparent 50%), linear-gradient(0deg, var(--textcolor) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear; }

@keyframes border-dance {
      0% { background-position: left top, right bottom, left bottom, right top; }
    100% { background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px; } }


/* htmx-stuff */
.htmx-request-indicator               { opacity:1; }
.htmx-request .htmx-request-indicator { opacity:0.33; }
.htmx-request.htmx-request-indicator  { opacity:0.33; }
.htmx-import-indicator                { opacity: 0 }
.htmx-request .htmx-import-indicator  { opacity: 1; }
.htmx-request.htmx-import-indicator   { opacity: 1; }
