/* CSS reset */
*, *::before, *::after           { box-sizing: border-box; }
*                                { margin: 0; }
html                             { height: 100%; }
body                             { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
input, button, textarea, select  { font: inherit; }
p, h1, h2, h3, h4, h5, h6        { overflow-wrap: break-word; }
ul                               { list-style-type: none; margin: 0; padding: 0}

/* Variables */
* {
    --textcolor: #121212;
    --bgcolor: #fff;
    --gray-bg: #f5f5f5;
    --gray-bg-em: #d4d4d4;
    --green-bg: #ccffd8;
    --green-bg-em: #abf2bc;
    --red-bg: #ffebe9;
    --red-bg-em: #fe8282;
    --blue-bg: lightsteelblue;
    --workspace-width: 1200px;
}

/* Global styles */
a              { color: blue; text-decoration: none;}
a:hover        { text-decoration: underline; }
a:visited      { color: blue }

a[href^="http"]::after { content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath fill='%23fff' stroke='%2336c' d='M1.5 4.518h5.982V10.5H1.5z'/%3E%3Cpath fill='%2336c' d='M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z'/%3E%3Cpath fill='%23fff' d='m9.995 2.004.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z'/%3E%3C/svg%3E%0A"); }

h4 { background: #eee; border-bottom: 2px solid var(--textcolor); margin: 1rem 0; text-transform: uppercase; padding: 0.15rem 0; }

body   { display: grid; grid-template-rows: auto 1fr auto; height: 100vh;
         font-family: system-ui, sans-serif; color: var(--textcolor)}
header { background: khaki; }
main   { padding: 1rem 0; }
footer { background: #f5f5f5; padding: 1rem 0; font-family: monospace; }

table    { width: 100% }
thead th { text-align: left; }
table td { vertical-align: top; }
table td.right { text-align: right; padding-right: 1em; }

label    { font-weight: bold; }

input:invalid  { background-color: var(--red-bg); }
fieldset p.validation { visibility: hidden; color: red }
input:not(:focus):invalid ~ p.validation { visibility: visible; }
p.info { visibility: hidden }
textarea:focus ~ p.info,
input:focus ~ p.info { visibility: visible }

input:focus,
textarea:focus        { outline: 0; box-shadow: 0 0 0 4px lightskyblue; }
input[type="search"]  { appearance: none;}

fieldset       { margin-bottom: 1rem; }
fieldset .field { clear: both; }
.field p, .field ul { clear: both; float:right; width: 75%; }
.field ul li { display: inline-block; margin-right: 1rem; margin-top: 1rem;}

.field label { float: left; text-align: right; margin-right:2rem; width: 20%; vertical-align: top; user-select: none; cursor: pointer; }
fieldset input[type="text"],
fieldset textarea { float:right; width: 75% }
fieldset input[type="checkbox"],
fieldset .field input[type="radio"] { margin-right: 33rem; width: auto}
fieldset input[type="text"]:focus ~ label,
fieldset input[type="search"]:focus ~ label,
fieldset input[type="checkbox"]:focus ~ label,
fieldset textarea:focus ~ label { color: blue  }
.field .selected-term, button.unselect-term { color: var(--textcolor); padding: 0.2rem 0.5rem;  border: 1px solid var(--textcolor);
                                   background-color: #ddd; opacity: 0.8; display: inline-block; }
.field .selected-term { border-radius: 0 0 0 0.5rem; border-right:0 }
button.unselect-term { border-radius: 0 0.5rem 0 0; cursor: pointer; border-left:0 }
button.unselect-term span { background-color: #bbb;}

.radiofield { clear: both; padding-top: 1rem; }

.radiofield .label { float: left; width: 20%; margin-right:2rem; text-align: right; font-weight:bold }
.radiofield .radioptions { float: right; width: 75% }
.radiofield input { width: 2rem;}
.radiofield label { display: inline-block; cursor: pointer }
.radiofield input[type="radio"]:focus + label { color: blue}
.radiooptions label { font-weight: normal }

details summary     { cursor: pointer;  background: lightsteelblue; padding: .5rem 1rem;}
details summary > * { display: inline; }
details div.border  { border: 2px solid lightsteelblue; }

nav           { padding-top: 1rem; display: flex; flex-wrap: wrap; }
nav ul        { list-style-type: none; padding: 0; }
nav li        { display: inline-flex; flex-direction: column; justify-content: space-between; margin-right: 1rem; }
nav li.active { border-bottom: 4px solid var(--textcolor); font-weight: bold}
nav li::after { content: attr(data-title); height: 0; visibility: hidden; overflow: hidden; user-select: none;
                pointer-events: none; font-weight: bold; }

.clickable    { cursor: pointer }
.hidden       { display: none }

.row     { display: flex; flex-wrap: wrap; width: 100%; }
.column  { display: flex; flex-direction: column; flex: 1; }
.column-wide { flex: 2 }
.column-xwide { flex: 3 }

.pad      { padding: 1rem; }
.pad-left { padding-left: 1rem; }

.content-bottom { align-self: flex-end;}

.container       { max-width: var(--workspace-width); margin: auto; }
.logo            { display: inline-block; padding: 0.2rem 0.4rem; font-family: monospace; font-weight: bold }
.rotating-border {
    background-image: linear-gradient(90deg, var(--textcolor) 50%, transparent 50%), linear-gradient(90deg, var(--textcolor) 50%, transparent 50%), linear-gradient(0deg, var(--textcolor) 50%, transparent 50%), linear-gradient(0deg, var(--textcolor) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear; }

@keyframes border-dance {
      0% { background-position: left top, right bottom, left bottom, right top; }
    100% { background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px; } }


/* htmx-stuff */
.htmx-request-indicator               { opacity:1; }
.htmx-request .htmx-request-indicator { opacity:0.33; }
.htmx-request.htmx-request-indicator  { opacity:0.33; }
.htmx-import-indicator                { opacity: 0 }
.htmx-request .htmx-import-indicator  { opacity: 1; }
.htmx-request.htmx-import-indicator   { opacity: 1; }

/* Page specific */

/* metadata page */
.search-options { text-align: right; padding: 0.5rem 1rem }
table.metadata-search-results td { min-width: 250px; }
table.reviews td { max-width: 400px}
tr.review { background: #eee }

th.sortable:before { content: '↕'; float: right; margin-right: 1rem; }

/* person page */

.sticky-top-left { position: sticky; top: 1rem; float: left; margin-left: -11rem; text-align: right; width: 10rem }
.sticky-top-left p { margin-top: 1rem; }
.error { background-color: var(--red-bg);}


/* dewey page */
table.dewey td:first-of-type { width: 12em; text-align: right; padding-right: 1rem }
